<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h2><% if (item.get('id')) { %>
                Редактирование предложения
                <% } else { %>
                Добавление предложения
                <% } %>
            </h2>
            <form class="js-offer-form form-horizontal" role="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Тип</label>
                            <div class="col-md-8">
                                <%= self.html.select({
                                name: 'type',
                                selected: item.get('type'),
                                values: {
                                'credit' : 'Кредит',
                                'futures' : 'Фьючерс',
                                'factoring': 'Факторинг'
                                }
                                }) %>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Описание</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="description" value="<%- item.get('description') %>"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Цена</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="price" value="<%- item.get('price') %>"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img style="max-width: 100%;" src="<%- item.get('photo_url') %>"/>
                    </div>
                </div>
                <hr/>
                <% if (item.get('id')) { %>
                <input type="hidden" name="id" value="<%- item.get('id') %>"/>
                <% } %>
                <div class="form-group">
                    <div class="col-md-9">
                        <button id="btn-signup" type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>